<section class="section hero">
  <div class="container">
    <h1 class="section-title">Кнопки виклику модалок</h1>

    <div class="flex-box">
      <button
        type="button"
        data-popup-btn="modal-book-table"
        class="popup-link"
      >
        Попап 1
      </button>

      <button type="button" data-popup-btn="modal-book-room" class="popup-link">
        Попап 2
      </button>

      <button
        type="button"
        data-popup-btn="modal-menu-price"
        class="popup-link"
      ></button>
    </div>

    <p>
      Тег можна використовувати який завгодно головне додати дата атрибут та
      клас <b>popup-link</b>
    </p>
    <p>
      Дата атрибут <b>data-popup="presentation"</b> відповідає атрибуту модалки
      <b>data-popup-target="presentation"</b>
    </p>
  </div>
</section>
